<div class="row justify-content-center">
  <div class="col center">
    <h2>Edit this recipe</h2>
  </div>
</div>
<%= render 'recipes/errors', recipe: @recipe %>
<%= render 'recipes/form', recipe: @recipe, verb:"Update" %>
