<div class="row justify-content-center">
  <div class="col center">
    <h2>Edit this recipe</h2>
  </div>
</div>
<%= render 'layouts/errors', object: @recipe, action: "editing this recipe" %>
<%= render 'recipes/form', recipe: @recipe, verb:"Update" %>
