<h1 class="center">Your published recipes</h1>
<div class="row justify-content-around">
  <div col>
    <%= link_to "Create new recipe!", new_recipe_path, class: "btn btn-secondary btn-lg" %>
  </div>
</div>
<% @recipes.each do |recipe| %>
<%= render 'recipe', recipe: recipe %>
<% end %>
