<div class="row justify-content-center">
  <div class="col center">
    <h2>Share a new recipe</h2>
  </div>
</div>
<%= render 'layouts/errors', object: @recipe, action: "creating a new recipe" %>
<%= render 'recipes/form', recipe: @recipe, verb:"Share" %>
