<div class="container">
  <div class="jumbotron center">
    <h1 class="display-3">
      <b>A place to share</b>
    </h1>
    <h2>Meet thousands of chefs, each one willing to share the best of their recipes with the world.</h2>
    <p>The gourmet world is right ahead!</p>
    <h3>
      <%= link_to "Sign up or log in now", login_path, class:"btn btn-primary btn-lg"  %>
    </h3>
  </div>

  <div class="row marketing">
    <div class="col-lg-4">
      <h4>Share your favorite recipes</h4>
      <p>Ever wanted to shared your super special recipe to the world? Now you can!</p>
      <p>
        Our site offers you the right tools to become a legendary recipe crafter,
        More than one will be glad to coock your recipes!
      </p>
    </div>

    <div class="col-lg-4">
      <h4>Discover new delights</h4>
      <p>Sharing recipes is only half the story! </p>
      <p>
        Our ever-growing chef comunity is constantly adding new recipes appealing for all kinds of tastes, so there's a high chance you will find a new dish to add to your
        personal favorites!
      </p>
    </div>

    <div class="col-lg-4">
      <h4>Get involved in our chef comunity</h4>
      <p>Here you can show gratitude to a chef liking their recipes you found interesting, make a comment praising their creations or even asking for further details.</p>
      <p>
        And if you feel like chatting with other chefs you can always join our chatting room!
      </p>
    </div>
  </div>
</div>
