<div class="container">
  <div class="jumbotron center">
    <h1 class="display-3">
      <b>A place to share</b>
    </h1>
    <h2 class="lead">Meet thousands of chefs, each one willing to share the best of their recipes with the world.</h2>
    <p class="lead">The gourmet world is right ahead!</p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign up or login now</a>
    </p>
  </div>

  <div class="row marketing">
    <div class="col-lg-4">
      <h4>Subheading 1</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="col-lg-4">
      <h4>Subheading 2</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="col-lg-4">
      <h4>Subheading 3</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
  </div>
</div>
