$theme-colors: (
  primary: #6e31af,
  secondary: #9189a5,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40
);

#logo{
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  text-decoration: none;
  color: lighten(#6e31af, 40%)
}

$recipe-block-color: #b393ff;
$chef-block-color: #82acff;
$ingredient-block-color: #52dd33;
$comment-block-color: #dd7440;

.form-check-label{
  margin-right: 1em;
}
.form-check-input{
  margin-right: 0.5em
}

.pagination {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.recipe-block{
  margin-top: 20px;
  padding: 2em;
  border: 0px solid $recipe-block-color;
  border-radius: 1.5em;
  background-color: lighten($recipe-block-color, 20%);
}

.recipe-block:hover{
  background-color: lighten($recipe-block-color, 19%);
}

.recipe-form-text{
  min-height: 40vh;
  // background: linear-gradient(white, lighten(#6e31af, 30%)) !important;
}

.rec-attribute{
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1.5em;
  background-color: lighten($recipe-block-color, 17%);
}

.chef-block{
  margin-top: 20px;
  padding: 2em;
  border: 0px solid $chef-block-color;
  border-radius: 1.5em;
  background-color: lighten($chef-block-color, 20%);
}

.chef-block:hover{
  background-color: lighten($chef-block-color, 19%);
}

.chef-profile-block{
  background-color: lighten($chef-block-color, 20%);
  margin-top: 20px;
  padding: 2em;
  border-radius: 1.5em;
}

.chef-profile-block:hover{
  background-color: lighten($chef-block-color, 19%);
}

.ingredient-block{
  margin-top: 20px;
  padding: 2em;
  border: 0px solid $ingredient-block-color;
  border-radius: 1.5em;
  background-color: lighten($ingredient-block-color, 40%);
}

.ingredient-block:hover{
  background-color: lighten($ingredient-block-color, 35%);
}

.comment-block{
  margin-top: 20px;
  padding: 1em;
  border: 0px solid $comment-block-color;
  border-radius: 1.5em;
  background-color: lighten($comment-block-color, 40%);
}

.comment-block:hover{
  background-color: lighten($comment-block-color, 37%);
}

.comment-text{
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.75em;
  background-color: lighten($comment-block-color, 35%);
}

.light-text{
  color: white !important;
}

.img-circle {
    border-radius: 50%;
    margin: 5px;
}

.footer-block{
  margin-top: 20px;
}

.created-at{
  text-align: right;
  margin-right: 25px;
}

.navbar{
  margin-bottom: 10px;
}

.center{
  text-align: center !important;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.jumbotron{
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 70vh;
}

.footer{
  margin-top: 30px;
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.center-block{
  float: none;
}

.chat-container{
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.messages-form{
  margin-top: 1em;
  .form-control{
    border-radius: 0.5em !important;
  }
  .btn{

  }
}

.message{
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: lighten($chef-block-color, 19%);
  border-radius: 1em;
}

.messages{
  border: 1px solid #eaeaea;
  border-radius: 1em;
  height: 60vh;
  padding: 0.5em;
  position: relative;
  overflow: auto;
}

.new_like, .edit_like{
  display:inline-block;
}
